<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="world.ztomorrow.zttimer.dao.mapper.TimerMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="timerModel.timerId">
        insert into xtimer (`app`,`name`,`status`,`cron`,`notify_http_param`)
        values (#{timerModel.app},#{timerModel.name},#{timerModel.status},#{timerModel.cron},#{timerModel.notifyHTTPParam});
    </insert>
</mapper>